<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Student</h1>

<form method="POST" action="{% url 'create_page' %}">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Name"><br>
    <input type="email" name="email" placeholder="Email"><br>


    <h3>Book 1</h3>
    <input type="text" name="book1" placeholder="Book Name">
    <input type="text" name="author1" placeholder="Author">
    <input type="number" name="price1" placeholder="Price">

    <h3>Book 2</h3>
    <input type="text" name="book2" placeholder="Book Name">
    <input type="text" name="author2" placeholder="Author">
    <input type="number" name="price2" placeholder="Price">

    <button type="submit">Create</button>
</form>
</body>
</html>