<h2>Students Table</h2>

<a href="/create/">+ Create Student</a>

<table border="1" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>City</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>

    {% for item in data %}
    <tr>
        <td>{{ item.student.name }}</td>
        <td>{{ item.student.email }}</td>

        <td>{{ item.profile.age }}</td>
        <td>{{ item.profile.city }}</td>
        <td>{{ item.profile.phone }}</td>

        <td>
            <a href="/profile/{{ item.student.id }}/">View</a>
            <a href="/edit/{{ item.student.id }}/">Edit</a>
            <a href="/delete/{{ item.student.id }}/">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>