<h1>Students</h1>

<a href="{% url 'create_page' %}">➕ Add Student</a>

<table border="1" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Books</th>
        <th>Actions</th>
    </tr>

    {% for s in students %}
    <tr>
        <td>{{ s.name }}</td>
        <td>{{ s.email }}</td>
        <td>{{ s.password }}</td>

        <td>
            {% for b in s.books.all %}
                <p>{{ b.book_name }}</p>
            {% endfor %}
        </td>

        <td>
            <a href="{% url 'profile' s.id %}">Profile</a>
            <a href="{% url 'delete' s.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>